node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.expo-shared

# macOS
.DS_Store
.expo-shared
storyLoader.js
.expo-shared/assets.json

schema.json
src/queries/api/index.ts
schema.graphqls
GoogleService-Info.plist
.env