
name: jest
on: 
  push:
    branches:
      - "*"
    tags-ignore:
      - 'v*'

env:
  EXPO_CONFIG: ${{ secrets.EXPO_CONFIG }}
jobs:
  jest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 16.x
      - name: Cache node_modules
        uses: actions/cache@preview
        with:
          path: ~/.cache/yarn
          key: ${{ runner.os }}-memoir-${{ hashFiles(format('{0}{1}', github.workspace, '/yarn.lock')) }}
          restore-keys:
            ${{ runner.os }}-memoir-
      - name: Install node_modules
        if: steps.cache.outputs.cache-hit != 'true'
        run: yarn install
      - name: Create ./appConfig.js file
        run: echo $EXPO_CONFIG | base64 --decode -i > ./appConfig.js
      - name: codegen
        run: yarn codegen
      - name: test coverage
        run: TZ=Asia/Tokyo yarn test